
<div class="clip">
  <ul class="ordering">
     <li><a href="#">move_up</a></li>
     <li><a href="#">move_down</a></li>
  </ul>
  <a href="#" class="view_change">ojo</a>
   <div class="preview">
     
   </div>
   <ul class="actions">
     <li><a href="#">c</a></li>
     <li><a href="#">t</a></li>
     <li><a href="#">r</a></li>
   </ul>

   <ul class="info">
     <li><label>T&iacute;tulo</label>Plantas venenosas</li>
     <li><label>Descripci&oacute;n</label>blahblahblahblahblahblahblahblahblah</li>
     <li><label>Autor</label>Asdffdd</li>
     <li><label>Fecha</label>17/8/2009</li>
   </ul>
</div>