<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Booka play</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <%= stylesheet_link_tag 'trabajo'  %>
  </head>
  <body>

    <ul id="navigation">
      <li><a href="#">mesa de tiempo</a></li>
      <li><span>mesa de trabajo</span></li>
      <li><a href="#">mesa de lectura</a></li>
      <li><a href="#">mi mesa</a></li>
    </ul>

    <ul id="account">
      <li><a href="#">mi perfil</a></li>
      <li><a href="#">contacto</a></li>
    </ul>

    <ul id="history">
      <li><a href="#">Índice</a></li>
      <li><a href="#">Otro</a></li>
      <li><a href="#">Otro</a></li>
      <li><a href="#">Otro</a></li>
    </ul>

    <div id="table">
      <%= yield %>
    </div>
  </body>
</html>